/* Handel slide template 
 * Last Modified: 2020-07-06
-------------------------------------------------------------------------------- */



#mytextbox
{
	border: 10px solid #cfd7e0; 
	color: black;  
	font-weight: normal;
}

#bigfont
{
	font-size: 300%;
	font-weight: bold;
}

#myimage
{
	max-height: 10%;
}

#verysmall
{
	font-size: 50%;
}

.verysmall
{
	font-size: 50%;
}


.small { font-size: 70% }


.smallfont pre {
    font-size: 50%;
}



/* Remove slide numbering if using xaringan */
.remark-slide-number {
  display: none;
}


html {
  /* Box-model */
	margin: 0;
	padding: 0; 
	border: 0;

  /* Visual */
	background-color: #fff; /* white */  
	color: black;   /* dark grey */
}


/* Image
---------------*/
img {
	max-width: 100%;
	max-height: 80%;
	padding: 3px;
	
}
.image {
	display: inline-block;
	margin-left: 0;
	margin-right: 0;
	padding: 0;  
	text-align: center;
  
  /* Visual */
	border-radius: 1px;
	border: 0 solid #ccc;  /* light grey */
}
.figure {
	margin-left:  0;
	margin-right: 0;
	padding: 0;  
	text-align: center;
  
  /* Visual */
	border-radius: 1px;
	border: 0 solid #ccc;  /* light grey */
}
.caption {
	padding: 0;
	margin: auto;
	margin-bottom: 3px;
}


/* Change color of regular text and h2
also change spacing between heading and main text
-------------------- */
slides > slide {
	color: black;
}

h2 {
	color: #123c66;  /* dark blue */
	margin-bottom: -30px;
}


/* Turn off page count in footer */
slides > slide:not(.nobackground):after {
  content: '';
}  


/* Keep text off left side of screen
-------------------- */
p {
	margin-right: 0;
}


/* My additions
-------------------- */

#classname
{
	color: #123c66;  
	font-weight: bold;
	text-align: center;
	font-size: 120%;
}

#classauthor
{
	color: black;  
	font-weight: normal;
	text-align: center;
	
}

#mylicense
{
	text-align: center;
	font-size: 70%;
	
}

iframe {
	display: block;
	margin-left: auto;
    margin-right: auto;
}


/* Change vertical spacing for lists */
li:not(:last-child) {
    margin-bottom: 5px;
}


